<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
  <sharedListeners>
    <add name="Central"
         type="Decos.Diagnostics.LogstashHttpTraceListener, Decos.Diagnostics"
         initializeData="http://log-dev.decos.nl:9090" />
    <add name="Console"
         type="Decos.Shared.Logging.ConsoleTraceListener, Decos.Shared"
         traceOutputOptions="DateTime" />
  </sharedListeners>
  <trace>
    <listeners>
      <add name="Central" />
      <add name="Console" />
    </listeners>
  </trace>
  <sources>
    <source name="TestSend" switchValue="All"></source>
  </sources>
</system.diagnostics>